/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.scryfall_hover {
  position: fixed;
  z-index: 99;
}

.scryfall_card {
  border-radius: 4.75%;
}

.scryfall_price {
  background-color: #000000;
  color: #dfdfdf;
  padding: 3px;
  margin-bottom: 4px;
  border-radius: 6px;
  font-weight: bold;
}
