/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.scryfall_card {
  border-radius: 4.75%;
  position:fixed;
  z-index: 99;
}
